* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
nav section {
    position: absolute;
    right: 50px;
}
.hero {
    height: 600px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.main_description {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
.budget_description {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.daily_impact {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
.signup {
    background-color: lightgray;
    padding-bottom: 50px;
}
.signup_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup button {
    width: 20%;
}